# Base URL para o checkout da InfinityPay
NEXT_PUBLIC_INFINITYPAY_CHECKOUT_BASE_URL=

# Firebase admin credentials
# Option A: paste the JSON of your service account
# FIREBASE_SERVICE_ACCOUNT='{"type":"service_account",...}'

# Option B: provide a path to the service account JSON file
FIREBASE_SERVICE_ACCOUNT_PATH=serviceAccountKey.json
